/First Application/nbproject/private/
/First Application/build/
/HW1/nbproject/private/
/HW1/build/
/HW1/dist/
/AmazingRace/nbproject/private/
/AmazingRace/build/
/AmazingRace/dist/
/Homework_2/nbproject/private/
/Homework_2/build/
/Homework_2/dist/
/Homework 3/nbproject/private/
/Homework3/nbproject/private/
/Homework3/build/
/Homework3/dist/
/Homework4/nbproject/private/
/Homework4/build/
/Homework4/dist/